/* NavigationBar */
/* a.nav-link {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
} */

.main-container.nav-bg-color {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.owl-carousel.owl-theme.scren-owl.owl-loaded.owl-drag {
    z-index: 0;
}

    /* Scrollspy */
    #scrollableContainer123 {
        position: relative;
        /* height: 80%; */
        /* top: 120px; */

        /* height // min-height */
        /* height: 2000px; */

        height: 50%;
        /* min-height: 80%; */
        /* bottom: 0px; */
        top: 20%;
        overflow-y: scroll;
    }
    #scrollableContainer {
        position: relative;
        height: 50%;
        /* height: 768px;
        height: 768px; */
        height: -webkit-fill-available;
        top: 100px;
        overflow-y: scroll;
    }

    a.nav-link {
        font-size: larger;
        font-weight: bolder;
        /* opacity: 0.5; */
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: white !important;
        /* background-color: pink; */
        background-color: black;
    }

    a.anchor {
        display: block;
        position: relative;
        top: -110px;
        visibility: hidden;
    }
    /* Bad choice -> offsetting an html anchor to adjust for fixed header */
    /*  */
    /* section {
        position: relative;
    }
    section>div#aboutUs, 
    section>div#product, 
    section>div#testimonials, 
    section>div#contact {
        position: absolute; 
        top: -75px;
    } */
    /* /Scrollspy */
/* /NavigationBar */

/* Home */
@media only screen and (min-width: 768px) {
    /* body {
        background-color: lightblue;
    } */
    img#coverImage {
        /* width: 80%; */
        /* height: 20%; */
        /* height: 625px; */
        height: 650px;
        /* display: none; */
        /* height: 500px; */
    }

    a#contactUsBtn {
        font-size: xxx-large;
        /* background-color: red; */
    }
}

a.btn.btn-lg.btn-outline-primary.text-uppercase {
    font-size: xx-small;
    /* background-color: black; */
}

.image-container {
    position: relative;
}
.image-container>img {
    margin-top: 0px !important;
    opacity: 0.8;
}
.image-container>a {
    position: absolute;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: lightblue;
    opacity: 0.5; */
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.8; */
}
/* /Home */

/* Number Counter */
/* .number {
    display: inline-block;
    padding: 10px 0;
}
.count-title {
    font-size:50px;
    font-family:'Fjalla',sans-serif;
    color:#fff;
    display:inline-block;
    font-weight:600;
    margin-top:10px;
    margin-bottom:0;
    text-align:center;
    margin-left:10px
}
.count-text {
    font-size:18px;
    font-weight:normal;
    margin-top:-5px;
    margin-bottom:0;
    text-align:center;
    color:#ffa1f6;
    text-transform:uppercase;
    letter-spacing:.8px;
    font-weight:700
}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
fa-handshake-o:before{content:"\f2b5"}
.fa-thumbs-o-up:before{content:"\f087"} */
/* /Number Counter */

/* .image-container {
    position: relative;
}
.image-container>img {
    margin-top: 80px !important;
    opacity: 0.8;
}
.image-container>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* /Home */

/* About Us */
section#aboutUs {
    /* padding-left: 50px;
    padding-right: 50px; */
    font-size: medium;
}

@media (min-width: 760px) {
    .locationNBranchBreakpoint {
        padding-top: 45px;
    } 
}
@media (max-width: 430px) {
    .locationNBranchBreakpoint {
        padding-top: 25px;
        padding-bottom: 45px;
    } 
}
/* /About Us */

/* Owl */
.owl-seci .owl-theme .owl-dots .owl-dot span {
    /* background: red!important; */
    background: black !important;
    width: 10px!important;
    height: 10px!important;
    border-radius: 0;
}
.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    /* box-shadow: 1px 1px 0 0 darkcyan; */
    box-shadow: 1px 1px 0 0 white !important;
    border: 1px solid #ccc;
    background: #eceeef;
    margin-right: 5px;
    display: inline-block;

        /* Add on */
        /* opacity: 0; */
        /* /Add on */
}
.owl-theme .owl-dots .owl-dot.active {
    background: #ffffff!important;
    /* border: 2px solid #9fd7ef; */
        
        /* Add on */
        border: 0px solid white !important;
        opacity: 0.5;
        /* /Add on */
}
/* /Owl */

/* Footer */
.row.contact-row-margin>div {
    display: table-cell;
    vertical-align: middle;
}
/* /Footer */

.navbar img{
    width: 100px;
}
.carousel-height img{

max-height: 550px;
}
@media (max-width: 991.98px) { 
    .carousel-control-prev, 
    .carousel-control-next {
        display: none;
    }

}
@media (max-width: 576px ) {
    .carousel-inner {
        max-height: 700px;
    }
    .carousel-text {
        padding-top: 200px!important;
    }
    .carousel-text span{
        font-size: 20px!important;

    }
    .carousel-text h1 {
        font-size: 20px!important;
    }
}
.carousel-text h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 3px 3px 5px #000;
}
.carousel-text span {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 3px 3px 5px #000;
}
.carousel-text{

    padding-top:260px;
    text-align: center;
}
.carousel-text p {
    font-family: 'Open Sans', sans-serif;
    padding-top:40px;
    font-size: 14px;
    color: #ffffff;
    text-shadow: 3px 3px 5px #000;

}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
        width: 60px;
        height: 40px;
        line-height: 50px;

        position: absolute;
        top: 30%;
        font-size: 20px;
        color: #fff;
        border: 1px solid #333333!important;
        text-align: center;
}
@media (max-width: 1400px){
    .owl-carousel .owl-prev {
        left: -20px;
    }
    .owl-carousel .owl-next {
        right: -20px!important;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        background: rgba(0,0,0,0.1)!important;
    }
    }
.owl-carousel .owl-prev {
    left: -115px;
}
.owl-carousel .owl-next {
    right: -115px;
}
.first-slider {
    /* background-image: url(../image/show1.jpg); */
    background-image: url(../image/basin-1502544_1280.jpg);
    /* options: contain // cover; */
    background-size: 80% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    border: 0;
    /* max-width: 100%; */
    min-height: 550px;
    /* width: 100%; */
    background-color: red;
    margin: 0px;
    padding: 0px;
}
.first-slider123 {
    /* background-image: url('../image/show1.jpg'); */
    background-image: url('../image/basin-1502544_1280.jpg');
    /* options: contain // cover; */
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    border:0; 
    /* max-width: 100%; */
    min-height: 450px;
    width: 100%;
    height: 650px; 
    background-color: red;
    margin: 0px;
    padding: 0px;
}
.first-slider-1 {
    max-width: 100%;
    min-height: 550px;
    width: 100%;
    background-image: url('../image/show2.jpg');
    background-size: cover;
    height: auto;
}
.first-slider-2 {
    max-width: 100%;
    min-height: 550px;
    width: 100%;
    background-image: url('../image/show3.jpg');
    background-size: cover;
    height: auto;
}
.first-slider-3 {
    max-width: 100%;
    min-height: 550px;
    width: 100%;
    background-image: url('../image/show4.jpg');
    background-size: cover;
    height: auto;
}
.first-slider-4 {
    max-width: 100%;
    min-height: 550px;
    width: 100%;
    background-image: url('../image/show5.jpg');
    background-size: cover;
    height: auto;
}
.grey{
    max-width: 2000px;
    margin-top: 15px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
.inside-container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.main-container {
    max-width: 1980px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.link-head:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav-list .menu:hover {
    color: black;
}
.nav-list .menu {
    color: #808080;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 26px;
    padding: 0 20px;
    text-decoration: none;        
}
.footer-bg{
    background-color: #232323;
    color: white;
}
.dream-text p{
    font-size: 14px;
    font-family: 'Open sans'; 
    color: white;
    padding-top: 20px;
}
.foot-icon{
    margin-top: 25px;
    font-size: 13px;
    color: white;
    margin-right: 18px;
}
.pop-link a{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans'; 
    color: white;
    display: flex;
}
.copyright-text{
    margin: auto;
    background-color: #232323;
    text-align: center;
}

.item-bg-1{
    background-image: url('../image/t1.jpg');
    background-size: cover;
}    
.item-bg-2{
    background-image: url('../image/t2.jpg');
    background-size: cover;
}     
.item-bg-3{
    background-image: url('../image/t3.jpg');
    background-size: cover;
}  
.item-bg-4{
    background-image: url('../image/t4.jpg');
    background-size: cover;
} 
.item-bg-5{
    background-image: url('../image/t5.jpg');
    background-size: cover;
}  
.item-bg-6{
    background-image: url('../image/t6.jpg');
    background-size: cover;
}    
.col-icon-contact{
    font-size: 22px;
    color: #ffffff;
    border: 5px solid #c5e7f5;
    border-radius: 50%;
    padding: 25px 25px;
    background-color: #9fd7ef;
    margin-bottom: 30px;
}
.contact-col-marg, .contact-col-marg-middle{
    margin: 100px 0;

}
.contact-col-border{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.comment-container{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 35px 30px;
    }
    
/* Header */
.our-header h2{
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
}
.prom-padd {
    padding-bottom: 30px !important;
}
/* /Header */

/* sendMsgBtn */
/* .sendMsgBtn { */
input.submit-btn.btn-lg.primary-btn.sendMsgBtn {
    font-size: x-large;
    font-weight: border;
    /* width: 80%; */
    width: 100%;
    border-radius: 25px;
    color: white;
    background-color: rgb(8, 44, 250);
}

/* /sendMsgBtn */

.rotate-45{
        transform: rotate(45deg);
        margin-right: -4px;
        margin-left: -4px;
        color: #c0bfbf;
    }
.our-header hr{
        height: 5px;
        border-color:#c0bfbf;
        margin-left: 10px;
        display: inline-flex;
        margin-right: 10px;
        width: 65px;
}

.sm-input{
width: 100%;
min-height: 50px;
margin-bottom: 20px;
padding: 0 20px;
background-color: #f9f9f9;
border: 1px solid #ececec;
font-size: 14px;
font-family: 'Open Sans';
color: #777777;
}
    
.sm-input:first-child{        
    margin-right: 20px;
}
.sb-input{
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
    min-height: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #777777;
}
    
textarea{
    padding: 15px 20px;
    width:100%;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #777777;
}
.submit-btn{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 120px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 8px;
}
.submit-btn:hover{
    background-color: #f65aa7;
    color: #ffffff;
}     
.product-top-1{
    background-image: url('../image/201/a1-01.png');
    /* background-size: cover; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-2{
    background-image: url('../image/201/a2-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;

}
.product-top-3{
    background-image: url('../image/201/a3-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;

}
.product-top-4{
    background-image: url('../image/201/a4-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-5{
    background-image: url('../image/201/a6-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-6{
    background-image: url('../image/201/a5-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-7{
    background-image: url('../image/201/a7-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-8{
    background-image: url('../image/201/a8-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-9{
    background-image: url('../image/201/a9-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-10{
    background-image: url('../image/201/a10-01-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-11{
    background-image: url('../image/201/a11-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-12{
    background-image: url('../image/201/a12-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-13{
    background-image: url('../image/201/a13-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-14{
    background-image: url('../image/201/a14-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.product-top-15{
    background-image: url('../image/201/a15-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 60px;
}

.product-top:hover {
    background-color: #ffffff00;
    z-index: 999;
    
}
.fixed-top {
background-color: white;
}
.video{
margin-right: 50px;
}
.col-over:hover .col-overlay{
    opacity: 1;
    transition: 0.5s;
    margin:  auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;

    
}
.container {
    position: relative;
    width: 100%;
    margin-top: 200px;
}

.image {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;

}

.container:hover .image {
opacity: 0.8;
}

.container:hover .middle {
opacity: 1;
}

.text {
    background-color: rgb(230,190,138);
    color: white;
    font-size: 20px;
    padding: 16px 32px;
}
.container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.overlay {
    text-align: center;
    display: block;
    background-color: rgba(51, 51, 51, 0.6);
    padding: 40% 0;
    position: absolute;
    left: 0px;
    width: 100%;
    /* height: fit-content; */
    height: 105%;
    /* margin-bottom: 1px;
    padding-bottom: 1px; */
}
span.center {
    width: fit-content;
}

.container:hover .dd {
    color:black;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.col3-height{
    min-height: 300px;
    background-image: url('');
    background-size: cover;
}
.lin{
    font-size: 20px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 25%;
    padding: auto;
}